pipeline/child_pipline_.json
{
	"name": "child_pipline_",
	"properties": {
		"activities": [
			{
				"name": "act_for_each_child",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.race_list",
						"type": "Expression"
					},
					"batchCount": 3,
					"activities": [
						{
							"name": "Set var_season",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "set_season",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set var_round",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "set_round",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "act_copy_result_data",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [
								{
									"activity": "Set var_season",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set var_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "source_race_result_api",
									"type": "DatasetReference",
									"parameters": {
										"base_url": "http://ergast.com/api/f1/",
										"relative_url": {
											"value": "@concat(variables('set_season'),'/',variables('set_round'),'/results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_result_race_adls",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "act_copy_driver_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set var_season",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set var_round",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "MergeFiles"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "source_driver",
									"type": "DatasetReference",
									"parameters": {
										"base_url": "http://ergast.com/api/f1/",
										"reative_url": {
											"value": "@concat(variables('set_season'),'/',variables('set_round'),'/drivers.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_driver_adls",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"race_list": {
				"type": "array"
			}
		},
		"variables": {
			"set_season": {
				"type": "String"
			},
			"set_round": {
				"type": "String"
			},
			"set round": {
				"type": "String"
			},
			"set_ingest_time": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-12T17:33:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}