pipeline/child_pip.json
{
	"name": "child_pip",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.races",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set seasons",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "set_seasons",
								"value": {
									"value": "@item().season",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set rounds",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "set_rounds",
								"value": {
									"value": "@item().round",
									"type": "Expression"
								}
							}
						},
						{
							"name": "copy_results_data",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set seasons",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Set rounds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "source_results",
									"type": "DatasetReference",
									"parameters": {
										"base_url": "http://ergast.com/api/f1/",
										"resl_url": {
											"value": "@concat(variables('set_seasons'),'/',variables('set_seasons'),'/','results.json')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "sink_results",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"races": {
				"type": "array"
			}
		},
		"variables": {
			"set_seasons": {
				"type": "String"
			},
			"set_rounds": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-24T07:23:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}