pipeline/pipe_check.json
{
	"name": "pipe_check",
	"properties": {
		"activities": [
			{
				"name": "get metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_check_file",
						"type": "DatasetReference",
						"parameters": {
							"file_name": {
								"value": "@pipeline().parameters.file_name",
								"type": "Expression"
							},
							"folder_name": {
								"value": "@pipeline().parameters.folder_name",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "check file exists or not",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "get metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('get metadata').output.exists,false )",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Fail1",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "file not found",
								"errorCode": "400"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"file_name": {
				"type": "string"
			},
			"folder_name": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-03-23T07:08:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}